@import "/src/shared/styles/variable.scss";

.hotelCard {
  &__header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    margin-bottom: 20px;
  }

  &__title {
    font-size: $heading_4;
    font-weight: 400;
  }

  &__slider {
    border-radius: 10px;
    overflow: hidden;

    img {
      object-fit: cover;
    }
  }

  &__sliderItem {
    height: 200px;
    width: 320px;
  }
}

.shortServices {
  margin-top: 20px;

  &__title {
    font-size: $heading_5;
    font-weight: 400;
    margin-bottom: 10px;
  }

  &__list {
    list-style: none;

    display: flex;
    flex-wrap: wrap;
  }

  &__item {
    display: flex;
    align-items: flex-start;
    margin-right: 20px;
    margin-bottom: 10px;
  }

  &__ico {
    height: 23px;
    width: 23px;
    color: #1466ac;
  }

  &__name {
    line-height: 95%;
    margin-left: 4px;
    color: inherit;
  }
}

.reviews {
  margin-top: 30px;

  &__title {
    font-size: $heading_5;
    font-weight: 400;
    margin-bottom: 15px;
  }
}

.availableRooms {
  margin-top: 70px;

  display: flex;
  flex-direction: column;
  align-items: center;

  &__title {
    margin-bottom: 25px;

    font-size: $heading_3;
    text-align: center;
    font-weight: 400;
  }

  &__rooms {
    margin-top: 40px;
    width: 100%;
  }

  &__room {
    margin: 40px 0 10px;
  }
}

.hotelDescrip {
  margin-top: 50px;
  padding: 10px 0;

  background: $main_grey;

  &__wrap {
    margin: 20px 0;
  }

  &__title {
    font-size: $heading_4;
    font-weight: 400;
  }

  &__mainBlock {
    display: flex;
    justify-content: space-between;

    margin-top: 10px;

    @media #{$screen-middle} {
      flex-wrap: wrap;
    }
  }

  &__text {
    font-size: $secondary_fsize;
    max-width: 750px;

    margin-bottom: 20px;
    margin-right: 40px;

    @media #{$screen-middle} {
      margin-right: 0;
    }
  }

  &__map {
  }
}

.policy {
  margin-top: 50px;

  &__title {
    font-size: $heading_4;
    font-weight: 400;

    margin-bottom: 15px;
  }

  &__main {
    display: grid;
    grid-template-columns: 1fr 2fr;

    @media #{$screen-middle} {
      grid-template-columns: 1fr;
      grid-template-rows: auto 1fr;
    }
  }

  &__сheckInOutTitle,
  &__additionalInfoTitle {
    font-size: $heading_5;
    font-weight: 400;

    margin-bottom: 5px;
  }

  &__сheckInOutTime {
    max-width: 180px;

    position: relative;

    display: flex;
    justify-content: space-between;

    @media #{$screen-middle} {
      margin-bottom: 30px;
    }

    &::after {
      content: "";

      display: block;

      position: absolute;
      bottom: -5px;
      left: 0;

      background: linear-gradient(
        90deg,
        rgba(51, 161, 95, 1),
        rgba(51, 161, 95, 0.2)
      );

      width: 100%;
      height: 2px;
    }
  }
}

.allServices {
  margin-top: 50px;

  &__title {
    font-size: $heading_4;
    font-weight: 400;

    margin-bottom: 10px;
  }

  &__main {
    display: flex;
    flex-wrap: wrap;
  }

  &__servicesBlock {
    list-style: none;

    margin-right: 50px;
    margin-bottom: 10px;
  }

  &__subTitle {
    font-size: $heading_5;
    font-weight: 400;

    margin-bottom: 5px;
  }

  &__list {
    display: flex;
    flex-direction: column;
  }

  &__item {
    display: flex;

    margin-bottom: 5px;
  }

  &__ico {
    display: flex;
    align-items: center;

    margin-right: 5px;

    svg {
      height: 20px;
      color: #1466ac;
    }
  }
}
