@import "/src/shared/styles/variable.scss";

.safety {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &__wrap {
    max-width: 400px;
    width: 100%;

    padding: 60px 0;
  }

  &__password {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;

    & &Title {
      font-size: $heading_4;
      margin-bottom: 20px;
    }

    & &Input {
      width: 100%;
      border: 2px solid #e7a165;
      margin-bottom: 10px;

      input {
        // border-radius: 12px;
      }
    }
  }

  &__account {
    display: flex;
    flex-direction: column;
    align-items: center;

    & &Btn {
      color: #dd0000;
    }
  }
}
