.loading {
  display: flex;
  justify-content: center;
  margin-top: 20px;

  &__ico {
    animation: spin 0.8s linear infinite;

    @keyframes spin {
      100% {
        transform: rotate(360deg);
      }
    }
  }
}
