.advantage {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  .advantage__title {
    font-size: $heading_3;
    font-weight: 400;

    margin-bottom: 40px;

    text-align: center;

    @media #{$screen-middle} {
      margin-bottom: 40px;

      font-size: $heading_3;
    }
  }

  &__advantageWrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  &__block {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;

    margin: 0 30px;
    min-width: 220px;

    text-align: center;

    & &Ico {
      color: $link_blue;
      height: 30px;
      width: 30px;
    }

    & &Title {
      margin: 15px 0 6px;

      font-size: $heading_5;
      font-weight: 500;
      color: #000;

      @media #{$screen-middle} {
        font-size: 1em;
      }
    }
  }
}
