@mixin underline($color) {
  &::after {
    content: "";

    position: absolute;
    bottom: -5px;
    left: 0;

    display: block;
    height: 2px;
    width: 0;

    background: $beige;

    transition: $transition-main-duration;

    opacity: 0;
  }

  &:hover:after {
    width: 100%;
    opacity: 1;
    bottom: 0;
  }

  a {
    text-decoration: none;
    font-weight: 500;

    @if ($color == "dark") {
      color: #fff;
    } @else if($color == "white") {
      color: $dark_blue;
    }

    @media #{$screen-middle-booking-calc} {
      @if ($color == "dark") {
        color: $main_grey;
      } @else if($color == "white") {
        color: $dark_blue;
      }
    }
  }
}
