.headerProfile {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;

  padding-top: 30px;

  a {
    text-decoration: none;
  }

  &__title {
    font-size: $heading_2;
    color: $beige;
    font-weight: 500;
    margin-bottom: 30px;
  }

  &__menuBtn {
    width: 300px;
  }

  &__menu {
    list-style: none;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  &__item {
    margin-right: 20px;

    list-style: none;

    flex: 1;
    flex-basis: content;
  }

  &__link {
    text-decoration: none;

    &_active {
      color: $link_blue;
    }
  }
}
