.bookingHistory {
  margin: 60px 0;

  display: grid;
  grid-auto-flow: row;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 20px;

  @media screen and (max-width: 1100px) {
    grid-template-columns: 1fr 1fr 1fr;
  }

  @media screen and (max-width: 820px) {
    grid-template-columns: 1fr 1fr;
    gap: 30px 10px;
  }

  @media screen and (max-width: 500px) {
    grid-template-columns: 1fr;
    justify-items: center;
  }
}
